.home-container {
  width: 100%;
  background-image: url("../../assets/home1.jpg");
  /* background-image: url("../../assets/home2.jpg"); */
  /* background-image: url("../../assets/home3.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-main-container {
  backdrop-filter: brightness(60%);
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-around;
  padding: 4rem 2rem 2rem 2rem;
}

.home-container-left h1 {
  color: var(--primary-color);
  font-weight: var(--font-bold);
  font-size: 40px;
}

.home-container-left h1 + h1 {
  margin-bottom: 1.5rem;
}

.home-container-right img {
  width: 100%;
}

/* Bottom to Top button */
.btm-to-top {
  position: fixed;
  bottom: 1rem;
  background-color: lightseagreen;
  padding: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  background-color: #003358;
  z-index: 1000;
  border-radius: 50%;
  color: gray;
  transition: 2s all ease-in;
}

.hide {
  display: none;
}

/* flag-lang */
.flag-lang {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  z-index: 1000;
  color: black;
  background-color: white;
  padding: 0.3rem 0.6rem;
  column-gap: 0.7rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.flag-lang img {
  height: 24px;
}

.flag-lang h2 {
  color: black;
  font-size: 24px;
}

/* Media queries and responsiveness */
@media only screen and (max-width: 991px) {
  /*Tablets [991px -> 1200px]*/
  .home-main-container {
    padding: 3rem 2rem 2rem 2rem;
  }
}

@media only screen and (max-width: 778px) {
  /*Big smartphones [480px -> 778px]*/
  .home-main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .home-container-left h1 {
    font-size: 35px;
  }

  .home-container-right img {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  /*Small smartphones [325px -> 480px]*/

  .home-main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    padding: 1rem;
  }

  .home-main-container div:first-child {
    align-items: flex-end;
  }
  .home-main-container div:last-child {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .home-container-left h1 {
    font-size: 27px;
  }
}
