.section-oil-and-gas div:last-child h1 {
  margin-bottom: 1rem;
  color: var(--secondary-color);
  line-height: 50px;
  letter-spacing: 2px;
  
}
.section-oil-and-gas div:last-child p {
  line-height: 27px;
  margin-bottom: 1rem;

}

/* .section-oil-and-gas div:first-child{
  grid-area: first;
}
.section-oil-and-gas div:last-child{
  grid-area: last;
} */

/* Media queries and responsiveness */

/* Media queries and responsiveness */

@media only screen and (max-width: 1199px) {
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 1024px) {
  /*Big smartphones [426px -> 600px]*/

    
}
@media only screen and (max-width: 778px) {
  /*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 480px) {
  /*Small smartphones [325px -> 425px]*/
}

