footer {
  min-height: 350px;
  width: 100%;
  background-color: var(--footer-color);
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.footer-Img {
  height: 50px;
  margin: auto;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.footer-link {
  margin-top: 0.6rem;
}

.footer-link ul {
  display: flex;
  gap: 1rem;
  color: white;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-link ul li {
  padding: 0.4rem;
  font-weight: var(--font-medium);
}

.footer-link ul li a {
  color: white;
}

.footer-address {
  color: var(--extra-color);
  text-align: center;
  margin-top: 1.5rem;
}

.footer-social-icon div {
  text-align: center;
  padding: 1rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.footer-social-icon div a {
  color: white;
  font-size: 20px;
  padding: 0.5rem;
  text-align: center;
  border-radius: 2px;
  transition: 0.5s all ease-in;
  background-color: #0c1330;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-icon div a:hover {
  background-color: rgb(41, 59, 70);
}


.footer-copyright{
    color: var(--extra-color);
    text-align: center;
}





/* Media queries and responsiveness */

@media only screen and (max-width: 991px) {
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 768px) {
  /*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 480px) {
  /*Small smartphones [325px -> 425px]*/
}
