@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat&family=Poppins&family=Roboto&display=swap');



:root{
  
  --header-height: 3rem;

  /* Color and text color */
  --primary-color: #fff;
  --secondary-color: #ff3a2d;
  --extra-color: #6f7f92;
  --desc-color: #000000;
  --btn-primary-color: #007aff;
  --footer-color: #081528;


  /* Font Color and Family */
  --primary-font-family : 'Roboto';
  --secondary-font-family : 'sans-serif';
  --h1-big-font-size: 43px;
  --h2-big-font-size: 40px;
  --normal-font-size: 16px;


/* Font Weight */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;


}


/* Universal CSS  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Body CSS */



/* Root/ HTML CSS */
html{
  scroll-behavior: smooth;
}




/* H1 */
h1{
  font-size: var(--h1-big-font-size);
  font-family: 'Inter' ,sans-serif;
  font-weight: 500;
}

/* h2 */
h2{
  color: var(--primary-color);
  font-size: var(--h2-big-font-size);
  font-family: 'Inter' ,sans-serif;
  font-weight: 500;
}


/* P and Li */
a{
  font-size: var(--normal-font-size);
  font-family: 'Inter' ,sans-serif;
}
p{
  font-size: var(--normal-font-size);
  font-family: 'Roboto' ,sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  font-size: var(--normal-font-size);
  font-family: var(--primary-font-family);
}


button{
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
}




/* Layout */

.container{
  /* max-width: 95%; */
  margin: auto;
  padding: 2.5rem;
}

.App{
  height: 200vh;
}


.customImg{
  display: block;
  width: 100%;
  /* height: 300px; */
  /* padding: 0.2rem; */
  filter: brightness(90%);
}

.grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: auto;
  text-align: justify;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  


}

/* Primary Button */
.primary-btn{
  background-color: #007aff;
  color: var(--primary-color);
  padding: 12px 40px;
  border-radius: 2px;
}


/* Secondary Btn */
.secondary-btn{
  background-color:  #ff3a2d;
  color: var(--primary-color);
  font-size: 15px;
  font-family: var(--primary-font);
  padding: 12px 24px;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
}


.homepage-btn{
  position: fixed;
  bottom: 20px;
  z-index: 100;
  left: 20px;
  color: black;
  padding: 10px 30px;
}