.section-mineral-processing div:first-child h1{
    margin-bottom: 1rem;
    color: var(--secondary-color);
    line-height: 50px;
    letter-spacing: 2px;
    }
    .section-mineral-processing div:first-child p{
        line-height: 27px;
    margin-bottom: 3rem;
    }